<!DOCTYPE html>
<html lang="en">
<head>
	<title>Bank Login</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/login_util.css">
	<link rel="stylesheet" type="text/css" href="css/login_main.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="shortcut icon" type="image/png" href="css/lock.png"/>
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-85 p-r-85 p-t-55 p-b-55">
				<form class="login100-form validate-form flex-sb flex-w" action="/loginPage" method="post">

					<span class="login100-form-title p-b-32">
						Online Gold Bank
					</span>

					  <div class="form-group wrap-input100" style="border: transparent">
			            <label for="portal"></label>
			            <select name="portal" class="form-control" id="exampleFormControlSelect1" style="border-radius: none">
			              <option value="none">Select Portal...</option>			     
			              <option value="client"> Account Holder (try user: acct1, pw: 1111)</option>
			              <option value="admin"> Employee (try user: admin12, pw: 1234)</option>
			            </select>
			          </div>

			     
					<span class="txt1 p-b-11">
						Username
					</span>
					<div class="form-group wrap-input100 validate-input m-b-36" data-validate = "Username is required">
						<input class="input100" type="text" name="username" >
						<span class="focus-input100"></span>
					</div>
					
					<span class="txt1 p-b-11">
						Password
					</span>
					<div class="wrap-input100 validate-input m-b-12" data-validate = "Password is required">
						<span class="btn-show-pass">
							<i class="fa fa-eye"></i>
						</span>
						<input class="input100" type="password" name="password" >
						<span class="focus-input100"></span>
					</div>
					<br></br>
					<span class="txt1 p-b-11">
<br>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
				</span>

				</form>
			</div>
		</div>
	</div>	
</body>
</html>