<html>
    <link rel="stylesheet" href="./reset.css">
    <div class="main">

    <style>
        .inputClass{
            border-radius: 7px;
            margin-top: 10px;
        }
    </style>
        
        <h2 style="margin-bottom: 12px">Welcome to Online Gold Bank - Client Portal</h2><br>
        
        <form id="login" action="/clientLogin" method="post">
            <div>
                <label for="username">Username: </label><br>
                <input class='inputClass' name="username" type="text">
            </div><br>
            
            <div>
                <label for="password">Password: </label><br>
                <input class='inputClass' name="password" type="password">
            </div><br>
            
            <div><br>
                <button>Submit</button>
            </div>
        </form>

    </div>
</html>
