<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Bank Branches</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
  <link rel="stylesheet" type="text/css" href="css/admin_style.css">
  <link rel="stylesheet" type="text/css" href="css/admin_main.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css'>
<!--   <link rel="stylesheet" href="./style.css">
 -->  <script type="text/javascript">
    document.getElementsByClassName("sidebarOff").disabled = true
  </script>
  <link rel="shortcut icon" type="image/png" href="css/bank.png"/>
</head>
<body>
<!-- partial:index.partial.html -->
<div id="viewport">
  <!-- Sidebar -->
  <div id="sidebar" class="sidebarOff">
    <header>
      <a href="#">ADMIN PORTAL</a>
    </header>
    <ul class="nav">
      <li>
        <a href="../accounts">
          <i style="padding-right:11px" class="zmdi zmdi-money"></i> Accounts
        </a>
      </li>
      <li>
        <a href="../clients">
          <i style="padding-right:10px" class="zmdi zmdi-account"></i>Clients
        </a>
      </li>
      <li>
        <a href="../users">
          <i style="padding-right:8px" class="zmdi zmdi-accounts-alt"></i>Users
        </a>
      </li>
      <li>
        <a href="../employees">
          <i style="padding-right:13px" style="padding-right:14px" class="zmdi zmdi-odnoklassniki"></i>Employees
        </a>
      </li>
      <li>
        <a href="../branches">
          <i style="padding-right:8px" class="zmdi zmdi-balance"></i>Branches
        </a>
      </li>
      <li>
        <a href="../loginPage">
          <i  style="padding-right:4px" class="zmdi zmdi-long-arrow-return"></i> Log Out
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <div id="content">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#"><i class="zmdi zmdi-odnoklassniki"></i>
            </a>
          </li>
          <li><a href="#">Employee # 0001</a></li>
        </ul>
      </div>
    </nav>
</div>

<div class="limiter" style="margin-top: 0">
    <h1 style="margin-left: 28px">Bank Branches</h1>

    <div class="container-table100">
      <div class="wrap-table100">
        <div class="table100">
          <table>
            <thead>
              <tr class="table100-head" style="background-color: #455A64">
                <th class="column1">Branch ID</th>
                <th class="column2">Location</th>
                <th class="column3">Phone Number</th>
              </tr>
            </thead>
            <tbody>
            {{#each branches}} 
                <tr> 
                    <td class="column1">{{branchID}}</td> 
                    <td class="column2">{{branchCity}}</td> 
                    <td class="column3">{{branchPhone}}</td> 
                </tr> 
            {{/each}}
            </tbody>
          </table><br>

          <h1>Open New Branch Office</h1><br>  
        
          <form id="addperson" action="/branches" method="post">
              Office Location: <input type="text" name="location">
              <br>Phone Number: <input type="text" name="phone"><br>
              <input type="submit" style="padding: 6px; background-color: lightgrey" value="Add Branch Location">
          </form><br><br>

        </div>
      </div>
    </div>
<!-- <div class="container-fluid">
 -->    
<!-- </div>
 -->  </div>


  
</div>
<!-- partial -->
  
</body>
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

  body {
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
  }
  @media screen and (max-width: 992px){
    table tbody tr td:nth-child(1):before {
      content: "Branch ID";
    }
    table tbody tr td:nth-child(2):before {
      content: "Location";
    }
    table tbody tr td:nth-child(3):before {
      content: "Phone Number";
    }
  }
  /* Toggle Styles */

  #viewport {
    padding-left: 250px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #content {
    width: 100%;
    position: relative;
    margin-right: 0;
  }

  /* Sidebar Styles */

  #sidebar {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 250px;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #37474F;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  #sidebar header {
    background-color: #263238;
    font-size: 18px;
    line-height: 52px;
    text-align: center;
  }

  #sidebar header a {
    color: #fff;
    display: block;
    text-decoration: none;
  }

  #sidebar header a:hover {
    color: #fff;
  }

  #sidebar .nav{
    
  }

  #sidebar .nav a{
    background: none;
    border-bottom: 1px solid #455A64;
    color: #CFD8DC;
    font-size: 16px;
    padding: 16px 24px;
  }

  #sidebar .nav a:hover{
    background: none;
    color: #ECEFF1;
  }

  #sidebar .nav a i{
    margin-right: 16px;
  }
  .column1 {
  width: 100px;
  padding-left: 40px;
  }

  .column2 {
    width: 100px;
  }

  .column3 {
    width: 100px;
  }
</style>
</html>